.todo-list {
  width: 550px;
  padding: 24px;
  margin: 300px auto;
  background-color: #fefefe;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.control h1 {
  width: 100%;
  font-size: 100px;
  text-align: center;
  margin: 0;
  color: red;
}

.control .new-todo {
  padding: 12px;
  border: 0;
  outline: none;
  font-size: 24px;
  box-sizing: border-box;
  line-height: 44px;
}

.todos {
  margin: 0;
  padding: 0;
  list-style: none;
}

.todo-item {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 24px;
  display: flex;
  align-items: center;
}

.todo-item input {
  display: block;
  width: 20px;
  height: 20px;
  margin: 2px 20px 0;
}

.todo-item label {
  flex: 1;
  padding: 15px;
  display: block;
}

.todo-item label.completed {
  text-decoration: line-through;
  color: #999999;
}

.button {
  border: 0 none;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
  font-weight: bold;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
